[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb.git
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools.git
[submodule "duckdb-mysql"]
	path = duckdb-mysql
	url = https://github.com/duckdb/duckdb-mysql.git
